body {
    background-color: rgb(41, 40, 40);
    color: white;
}

.navbar-brand img {
    max-height: 50px;
    margin-left: 10px;
}

.navbar-nav .nav-link {
    padding: 0 15px;
    color: white; 
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav .search-icon {
    padding: 0 10px;
    cursor: pointer;
    color: white;
}

.navbar-nav .language-icon {
    padding: 0 10px;
    cursor: pointer;
    color: white;
}

.navbar-nav .subscribe-btn {
    width: 150px;
    background-color: #ff5900;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
}

.navbar-toggler {
    border-color: transparent;
    background-color:rgb(255, 94, 0);
}

.navbar-toggler:focus {
    box-shadow: none;
}

      
.search-bar {
    display: none;
    position: absolute;
    top: 22px;
    right: 350px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    width: calc(100% - 40px);
    padding: 5px;
    color: #ffffff;
    background-color: black;
}


.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 992px) {
    .search-bar {
    top: 50px;
    right: 0;
    width: 100%;
    }
}

.carousel {
    width: 100vw;
    height: 80vh;
    margin-left: calc(-50vw + 50%); 
    margin-right: calc(-50vw + 50%); 
}
.carousel-item{
    width: 100%;
    height: 70vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}


.carousel-indicators {
    bottom: 20px; 
    gap: 10px;
}
.carousel-indicators button:hover{
    color: white;
}
.carousel-indicators:hover{
    bottom: 20px; 
    gap: 10px;
    
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: #ffffff; 
}

@media (max-width: 576px) {
    .carousel {
        height: 60vh; 
    }

    .carousel-item img {
        height: auto; 
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 40px; 
        height: 300px; 
        font-size: 1.7rem; 
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 50%; 
    }

    .carousel-indicators {
        bottom: 5px; 
    }

    .carousel-indicators button {
        width: 8px; 
        height: 8px; 
    }
}
@media (max-width: 523px) {
    .carousel-indicators {
        bottom: 50px; 
    }
}
@media (max-width: 436px) {
    .carousel-indicators {
        bottom: 100px; 
    }
}
@media (max-width: 356px) {
    .carousel-indicators {
        bottom: 140px; 
    }
}
@media (max-width: 441px) {
.carousel-control-prev,
    .carousel-control-next {
        width: 40px;
        height: 200px;
        font-size: 1.7rem; 
    }
}
.heading{
    margin-left: 20px;
}
.heading Span{
    margin-left: 84%;
    cursor: pointer;
}


